h2 {
    color: blueviolet;
    font-size: 80px;
    font-family: Magalon;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

body {
    background: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-button {
    margin-bottom: 25px;
}

.register-button {
    margin-top: 25px;
}

.login-button, .register-button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.login-button:active,
.login-button:hover {
    outline: 0;
}

.login-button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.login-button:hover span {
    background: none;
}

@media (min-width: 768px) {
    .login-button {
        font-size: 24px;
        min-width: 196px;
    }
}
.register-button:active,
.register-button:hover {
    outline: 0;
}

.register-button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.register-button:hover span {
    background: none;
}

@media (min-width: 768px) {
    .register-button {
        font-size: 24px;
        min-width: 196px;
    }
}
