<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="css/ceoPage.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">View Information</button>
        <div class="dropdown-content">
            <form action="/teamsInfo" class="button1">
                <button class="btn1">Teams</button>
            </form>

            <form action="/usersInfo" class="button1">
                <button class="btn1">Users</button>
            </form>

            <form action="/projectsInfo" class="button1">
                <button class="btn1">Projects</button>
            </form>
        </div>
        </div>
            <form action="/goToCreateTeamPage" class="button3">
                <button class="btn">Create a team</button>
            </form>
    <form action="/logout" class="button">
        <button class="btn">Log out</button>
    </form>
</div>


<br>
<br>
<br>


<div class="profileInfo">Welcome back,  <h3 th:text="${getLoggedUser.username}"></h3></div>


</body>
</html>