<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="css/createTeam.css" rel="stylesheet" type="text/css">
    <script src="js/register.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/usersInfo.css">
</head>
<body>

<div class="navbar">
    <form action="/ceoPage" class="button3">
        <button class="btn">Home</button>
    </form>


    <form action="/logout" class="button">
        <button class="btn">Log out</button>
    </form>
</div>

<br>
<br>
<br>

<center>
    <h2 style="color: lightblue" class="heading">Create a team</h2>
</center>

<form action="/createTeam" method="post" class="create-form">
    <label for="teamName" style="display: block;">
        <p style="color: lightblue" class="label-txt">Enter Team Name</p>
        <input id="teamName" name="teamName" type="text" class="input" style="color: black" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button style="position:relative; left:275px" type="submit" class="create-button">create</button>
</form>

</body>
</html>