<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vacation Manager</title>
</head>
<body>

<center><h2>Welcome to Vacation Manager Project!</h2></center>

<div class="vertical-center">
    <center>
        <form action="/goToLoginPage">
            <button class="login-button" role="button"><span class="text">Login</span></button>
        </form>

        <form action="/goToRegisterPage">
            <button class="register-button" role="button"><span class="text">Register</span></button>
        </form>
    </center>
</div>

</body>
</html>