<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="css/teamLeaderPage.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="navbar">
    <form action="/logout" class="button">
        <button class="btn">Log out</button>
    </form>
</div>

<br>
<br>
<br>


<div class="profileInfo">Welcome back,  <h3 th:text="${getLoggedUser.username}"></h3></div>
<center><h4>Request a vacation</h4></center>

</body>
</html>